<html>
    <head>
        <title>Chatbot introduction</title>
    </head>

    <body>
        <p>
            Hi there!
            <br><br>
            Check out flight statuses through our chatbot by following these instructions.
            <br><br>
            <ol>
                <li>Add the number +1 415 523 8886 to your contact list. Name it "Flight Status Chatbot" or whatever you like!</li>
                <li>Send a WhatsApp message to that number saying: "join crew-afternoon"</li>
                <li>Try out the bot by typing in any flight number!</li>
            </ol>
        </p>
    </body>
</html>